* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul, ul li {
  list-style: none
}
nav {
  position: sticky;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  ul {
    display: flex;
    li {
      cursor: pointer;
      &:not(:first-child) {
        margin-left: 40px;
      }
      &.current {
        font-weight: bold;
        color: green
      }
    }
  }
}
#subapp-viewport {
  padding: 30px 50px;
}